body {
    background-image: url(imagens/pexels-negative-space-97077.jpg);
    background-size: cover;
    background-position: 80%;
    font-family: "Exo 2", sans-serif;
    color: azure;
  }

  a:hover {
    background-color: #254e50;
  }

  a:active {
    color: black;
  }

  .title-font {
    font-family: "Merriweather Sans", sans-serif;
    text-align: center;
    
  }

  .button {
    padding: 10px 10px;
    background-color: #1c3738;
    border: 5px;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    width: 40%;
    margin: auto;
  }

  .botoes {
    border: 1px solid white;
    padding: 10px;
  }

  .cabecalho {
    border: 1px solid blue;
    height: 30%;
  }

  .image-circle {
    border-radius: 50% 10%;
    width: 15%;
    padding: 20px;
    
  }

  .desc {
    border: 1px solid black;
    height: 30%;
    width: 75%;
    position: absolute;
    display: inline;
    padding: 20px;
    margin: auto;
    

  }

  .about-me {
    text-decoration: underline;
  }

  .lists #listaSS {
    size: 60px;

  }

  .lista1 {
    border: 1px solid green;
    width: 49%;
    display: block;
    font-family: monospace;
    
  }

  .lista2 {
    border: 1px solid red;
    width: 49%;

  }

  .destaques {
    font-size: 20px;
  }