body {
    background-color: #fdff70;
    font-family: "Exo 2", sans-serif;
  }

  a:hover {
    background-color: #254e50;
  }

  a:active {
    color: black;
  }

  .title-font {
    font-family: "Merriweather Sans", sans-serif;
    text-align: center;
    font-size: 90%;
  }

  .button {
    padding: 10px 10px;
    background-color: #1c3738;
    border: 5px;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    width: 40%;
    margin: auto;
  }

  .cabecalho {
    border: 1px solid blue;
    height: 30%;
  }

  .image-circle {
    border-radius: 50%;
    width: 25%;
    
  }

  .desc {
    border: 1px solid black;
    height: 30%;
    width: 75%;
    position: absolute;
    display: inline;
    padding: 20px;
    margin: auto;
    vertical-align:bottom;
    align-items: center;

  }

  .about-me {
    text-decoration: underline;
  }

  .lists #listaSS {
    size: 60px;
  }

  .lista1 {
    border: 1px solid green;
    width: 49%;
    
  }

  .lista2 {
    border: 1px solid red;
    width: 50%;
    float: right;
    margin: auto;
  }

  .destaques {
    font-size: 20px;
  }